<!-- Citation for the following index.hbs:
    Date: 2/29/2024 
    Adapted from code provided by Prof. Safonte and Dr. Curry for students at Oregon State University.
    Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dungeons and Dragons Database</title>
</head>
<body>
    <header>
        <h1>Dungeons and Dragons Database</h1>
    </header>
        <nav>
            [ <a href="/">Home</a> | <a href="/guests">Guests</a> | <a href="/employees">Employees</a> | <a href="/taverninventory">Tavern Inventory</a> | <a href="/rooms">Rooms</a> | <a href="/transactions">Transactions</a> ]
        </nav>
    {{{body}}}

    <h2>Overview</h2>
    <form>
        <p>In the world of Dungeons and Dragons, the DnD Inn Management System aims to streamline the operations of inns, which can contain taverns, catering to thousands of 
    adventurers each year. The Inns in the DnD world are seeing an increase in patrons as more adventures are picking up their swords and looking for glory. 
    There have been over 20,000 stays in large city Inns. These Inns not only have patrons that stay, some just come in for a quick meal or drink. 
    Food is becoming hard to track with over 50,000 meals being served yearly as well as 100,000 drinks, as we all know a pint of ale is the best thing after a day of adventure. 
    The Inns need help and have around 10 to 20 employees per establishment to help with the increase in business. The database-driven website will record transactions, 
    manage guest information, handle inventory for the tavern, and track the hiring of employees for specialized services such as taking down adventurer information and 
    receiving payment, preparing food and drink, and housekeeping.
        </p>
    </form>
</body>
</html>