<!-- Citation for the following main.hbs:
    Date: 2/29/2024 
    Adapted from code provided by Prof. Safonte and Dr. Curry for students at Oregon State University.
    Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dungeons and Dragons Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/app.css" />
    <link rel="icon" type="image/png" href="/Project_step6Update/public/img/favicon.ico">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

</head>
<body>

    {{{body}}}

</body>
</html>